# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order matters - match of highest importance goes last (last match wins)

#doc code owners
datasets/          @rapidsai/nx-cugraph-doc-codeowners
docs/              @rapidsai/nx-cugraph-doc-codeowners
**/*.txt           @rapidsai/nx-cugraph-doc-codeowners
notebooks/         @rapidsai/nx-cugraph-doc-codeowners
**/*.md            @rapidsai/nx-cugraph-doc-codeowners
**/*.rst           @rapidsai/nx-cugraph-doc-codeowners
**/*.ipynb         @rapidsai/nx-cugraph-doc-codeowners
**/*.pdf           @rapidsai/nx-cugraph-doc-codeowners
**/*.png           @rapidsai/nx-cugraph-doc-codeowners

#python code owners
python/            @rapidsai/nx-cugraph-python-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners
/.shellcheckrc           @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

# notebooks code owners
*.ipynb @rapidsai/cugraph-notebook-codeowners

# Ops code owners
/SECURITY.md             @rapidsai/ops-codeowners
